.wc-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0;
}

td.wc-page-item {
  padding: 0px;
}
.wc-page-item.active .wc-page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.wc-page-item:hover:not(.active) {
  background-color: #eee;
}
.wc-page-item:last-child .wc-page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.wc-page-item:first-child .wc-page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.wc-page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.wc-page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.wc-pagination-border-none {
  border: transparent 1px solid;
  padding-left: 0px;
}
