.wc-table--cell-hide {
  display: none !important;
  visibility: hidden !important;
}
.wc-table--cell-show {
  display: table-cell !important;
  visibility: visible !important;
}
.wc-table--caption {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #3f3e3e;
  text-align: left;
}

.wc-table--serial-number {
  text-align: center;
  vertical-align: middle;
}

.wc-table--sorting-container {
  float: right;
  padding: 6px 3px 0px 3px;
}
.wc-table--sorting-container > ul {
  list-style: none;
  margin: auto;
  padding: 0;
}
.wc-table--sorting-container > ul > li {
  cursor: pointer;
}
