.wc-table {
  border-collapse: collapse;
}
.wc-table thead {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wc-table thead th {
  cursor: auto;
  background: #f9fafb;
  text-align: inherit;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.35em 0.225em;
  vertical-align: inherit;
  font-weight: 700;
  border-bottom: 3px solid rgba(34, 36, 38, 0.1);
}
.wc-table.bordered {
  border: solid 1px;
}

.wc-table.bordered tr td {
  border: solid 1px;
}

.wc-table.cell-hide {
  display: none !important;
  visibility: hidden !important;
}
.wc-table.cell-show {
  display: table-cell !important;
  visibility: visible !important;
}
.wc-table--caption {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #3f3e3e;
  text-align: left;
}

.wc-table--serial-number {
  text-align: center;
  vertical-align: middle;
}
